<div id="form-container">
 <h1> Sign In </h1>
<form>
    <input type="text" placeholder="Username" ng-model="person.username">
    <br />
    <input type="password" placeholder="Password" ng-model="person.password">
    <br />
        <button id="sign-in" type="button" ng-click= "setPerson(person)"> SIGN IN </button>
  </form>
  <a href="www.google.com"> Forgot Your Password? </a>

</div>


<!-- Your two inputs **must** be assigned to one project(property on the scope), like we had been doing in our labs. -->
